# === BACKEND (Laravel) ===
/backend/vendor/
/backend/node_modules/
/backend/.env
/backend/public/storage
/backend/storage/
/backend/bootstrap/cache/
.backend.phpunit.result.cache

# === FRONTEND (Angular) ===
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/

# === Global OS/IDE stuff ===
.DS_Store
Thumbs.db
.idea/
.vscode/
